.my-box {
  padding: 10px;
}

@media (min-width: 768px) {
  .my-box {
    padding: 20px;
  }
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 50px;
}

.button {
  display: inline-block;
  font-family: inherit;
  color: #212121;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover, .button.secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-submit {
  text-align: center;
  padding-top: 30px;
}

.button.first {
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
  text-decoration: none;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
}

.button.secondary {
  color: #212121;
  background-color: #f5f4fa;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.part-logo {
  color: #212121;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: #ffffff;
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: #2196f3;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-label-policy {
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.modal-input {
  position: relative;
}

.modal-field {
  outline: none;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-field:focus {
  border-color: #2196f3;
}

.modal-field:focus + .modal-svg {
  fill: #2196f3;
}

.modal-textarea {
  outline: none;
  padding: 12px 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus {
  border-color: #2196f3;
}

.modal-svg {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 11px;
  left: 12px;
}

.modal-svg:focus {
  fill: #2196f3;
}

.modal-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal-policy-submit {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-label-policy {
  /*   display: flex; */
  align-items: center;
}

.modal-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-checkbox:focus {
  background-color: salmon;
}

.modal-policy-submit:checked + .modal-checkbox {
  width: 16px;
  height: 15px;
  background-color: #2196f3;
  background-image: url(/images/icon/checkbox.svg);
  border-color: transparent;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.modal .modal-link {
  color: #2196f3;
  margin-left: 7px;
}

.hero-button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.hero-button-close:hover .hero-button-close-svg,
.hero-button-close:focus .hero-button-close-svg {
  fill: #2196f3;
}

.hero-button-close-svg {
  height: 11px;
  width: 11px;
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 462px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.container-nav {
  display: flex;
  align-items: center;
}

/* .nav {
  display: flex;
  align-items: center;
} */
.nav-address-svg {
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address-svg.envelope {
  width: 16px;
  height: 12px;
}

.nav-address-svg.vector {
  width: 10px;
  height: 16px;
}

.header {
  position: relative;
}

.site-nav {
  display: flex;
}

.site-nav .link,
.kontaktu-nav .link {
  color: #212121;
  text-decoration: none;
}

.nav-address.link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.site-nav .link.current {
  position: relative;
  color: #2196f3;
}

.link {
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link:hover .nav-address-svg,
.link:focus .nav-address-svg {
  fill: #2196f3;
}

@media (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 999;
  }
  .menu-container.is-open {
    display: block;
  }
  .nav-menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .nav-menu-svg {
    height: 40px;
    width: 40px;
  }
  .nav-menu-button .icon-menu {
    display: block;
  }
  .nav-menu-button.is-open .icon-menu {
    display: none;
  }
  .nav-menu-button.is-open .icon-menu-close {
    display: block;
  }
  .header .logo {
    margin: 16px 0px;
  }
  /*   .header {
    border-bottom: 1px solid #ececec;
  } */
  .site-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
  }
  .site-nav .item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .site-nav .item {
    margin-bottom: 40px;
  }
  .site-nav .item:first-child {
    margin-top: 0px;
  }
  .site-nav .item:last-child {
    margin-bottom: 0px;
  }
  .kontaktu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
  .kontaktu-nav .item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .kontaktu-nav .item:first-child {
    margin-bottom: 16px;
  }
  .site-nav .link,
  .kontaktu-nav .link {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .menu-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu-button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.06;
    letter-spacing: 0.02em;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
  /*   .kontaktu-nav {
    display: flex;
    margin-left: auto;
  } */
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .kontaktu-nav .item:last-child {
    margin-top: 10px;
  }
  .kontaktu-nav {
    padding: 21px 0px;
  }
  .logo {
    margin-right: 88px;
  }
}

@media (max-width: 1199px) {
  .nav-address-svg.vector {
    height: 14px;
  }
}

@media (min-width: 1200px) {
  .site-nav .link,
  .kontaktu-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .kontaktu-nav {
    display: flex;
  }
  .kontaktu-nav .item:last-child {
    margin-top: 0px;
  }
  .kontaktu-nav .item + .item {
    margin-left: 50px;
  }
  .kontaktu-nav {
    padding: 0px;
  }
  .logo {
    margin-right: 93px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-box {
  text-align: center;
  /*   @include for-size(desktop) {
    width: 696px;
  } */
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.example {
  padding-top: 0px;
}

@media (max-width: 1199px) {
  .example {
    display: none;
  }
}

.example-list {
  display: flex;
}

.example-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

.example .example-item + .example-item {
  margin-left: 30px;
}

.example-item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  z-index: 1;
}

.example-name-text {
  position: absolute;
  text-align: center;
  padding: 27px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-item {
  width: 100%;
}

@media (min-width: 768px) {
  .feature-item {
    width: calc((100% - 30px) / 2);
  }
  .feature-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .feature-item {
    width: calc((100% - 30px * 3) / 4);
  }
}

@media (min-width: 1200px) {
  .feature-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .feature-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

.feature-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.feature-item:nth-child(1):before {
  background-image: url(../images/Vector1.svg);
}

.feature-item:nth-child(2):before {
  background-image: url(../images/Vector2.svg);
}

.feature-item:nth-child(3):before {
  background-image: url(../images/Vector3.svg);
}

.feature-item:nth-child(4):before {
  background-image: url(../images/Vector4.svg);
}

.feature-title {
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.07;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .feature-title {
    text-align: center;
  }
}

.feature-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-item:not(:last-child) {
  margin-right: 8px;
}

.team {
  background-color: #f5f4fa;
}

@media (min-width: 768px) {
  .team-box {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.team-item {
  width: 100%;
  /*   width: calc((100% - 30px * 3) / 4); */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .team-item {
    width: calc((100% - 30px * 3) / 4);
  }
}

@media (min-width: 768px) {
  .team-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 1199px) {
  .team-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-title {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
}

.client {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 1199px) {
  .client {
    flex-wrap: wrap;
  }
}

.client-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0px;
  color: #212121;
}

.client-item {
  width: calc((100% - 30px) / 2);
}

@media (min-width: 768px) {
  .client-item {
    width: calc((100% - 30px * 2) / 3);
  }
}

@media (min-width: 1200px) {
  .client-item {
    width: calc((100% - 30px * 5) / 6);
  }
}

@media (max-width: 767px) {
  .client-item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .client-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .client-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .client-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (max-width: 1199px) {
  .client-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-svg,
.client-link:focus .client-svg {
  fill: #2196f3;
}

.client-link:hover {
  border-color: #2196f3;
}

.client-svg {
  width: 50%;
  height: 50%;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  .footer-social {
    margin-top: 12px;
  }
}

@media (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .footer .container {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (max-width: 1199px) {
  .footer .container {
    text-align: justify;
  }
}

.footer-block {
  width: 100%;
  /*  margin-right: 30px; */
}

@media (min-width: 768px) {
  .footer-block {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 1199px) {
  .footer-block {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer-block {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
  }
}

.footer-mail {
  width: 100%;
}

@media (min-width: 1200px) {
  .footer-mail {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 1199px) {
  .footer-mail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
  }
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.part-logo-footer {
  color: #ffffff;
}

.footer-block .logo {
  margin-right: 0px;
}

.footer-social .social-icons {
  justify-content: start;
}

@media (max-width: 1199px) {
  .footer-social .social-icons {
    justify-content: center;
  }
}

.footer-social .social-icons-svg {
  fill: #ffffff;
}

@media (min-width: 768px) {
  .footer-list {
    margin-right: 30px;
  }
}

.footer-title-join {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* align-items: center; */
}

@media (min-width: 768px) {
  .footer-form {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .footer-form {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  height: 50px;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .footer-input {
    max-width: 450px;
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .footer-input {
    width: calc((100% * 2 / 3) + 12px);
    margin-right: 12px;
  }
}

.footer-icon-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .button.first {
  display: flex;
  /*   max-width: calc((100% / 3) + 60px); */
  max-width: 200px;
  border: 0px;
  /*   @include for-size(mobile-only) {
    margin-top: 20px;
  } */
}

@media (max-width: 1199px) {
  .footer .button.first {
    margin-top: 20px;
  }
}

.footer-title-sign {
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-svg {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.address {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
}

.karta {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-kontaktu {
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */