.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-check {
  width: 1.2998046875em;
}

.icon-envelope {
  width: 1.34375em;
}

.icon-partner1 {
  width: 0.900390625em;
}

.icon-partner2 {
  width: 0.76953125em;
}

.icon-partner3 {
  width: 0.953125em;
}

.icon-partner4 {
  width: 1.8603515625em;
}

.icon-partner5 {
  width: 1.2548828125em;
}

.icon-partner6 {
  width: 1.9345703125em;
}

.icon-Vector {
  width: 0.625em;
}
