.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 462px;
  width: 100%;
  padding: 40px;
  transform: translate(-50%, -50%);

  background-color: $primary-white-color;
  @include for-size(desktop) {
    width: 528px;
  }
}
