.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
  text-decoration: none;
}

.part-logo {
  color: $primary-text-color;
}
