.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
}
.modal-label-policy {
  font-size: 12px;
  line-height: 1.17;

  color: #757575;
  @include for-size(desctop) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-input {
  position: relative;
}
.modal-field {
  outline: none;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:focus {
    border-color: $accent-color;
  }
  &:focus + .modal-svg {
    fill: $accent-color;
  }
}

.modal-textarea {
  outline: none;
  padding: 12px 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: $accent-color;
  }
}
.modal-svg {
  position: absolute;
  height: 18px;
  width: 18px;

  top: 11px;
  left: 12px;

  &:focus {
    fill: $accent-color;
  }
}
.modal-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.modal-policy-submit {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-label-policy {
  /*   display: flex; */
  align-items: center;
}
.modal-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
}

.modal-checkbox:focus {
  background-color: salmon;
}
.modal-policy-submit:checked + .modal-checkbox {
  width: 16px;
  height: 15px;
  background-color: $accent-color;
  background-image: url(/images/icon/checkbox.svg);
  border-color: transparent;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
}
.modal .modal-link {
  color: $accent-color;
  margin-left: 7px;
}

.hero-button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;

  background: $primary-white-color;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover .hero-button-close-svg,
  &:focus .hero-button-close-svg {
    fill: $accent-icon;
  }
}
.hero-button-close-svg {
  height: 11px;
  width: 11px;
  fill: $primary-text-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}
