$primary-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$bg-color: #f5f4fa;
$primary-white-color: #ffffff;
$icon: #afb1b8;
$accent-icon: #2196f3;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
