.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-social {
  @include for-size(mobile-only) {
    margin-top: 60px;
  }
  @include for-size(tablet) {
    margin-top: 12px;
  }
}
.footer .container {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include for-size(desktop) {
    display: flex;
    flex-wrap: nowrap;
  }
  @include for-size(tablet-max) {
    text-align: justify;
  }
}

.footer-block {
  width: 100%;
  /*  margin-right: 30px; */

  @include for-size(tablet) {
    width: calc((100% - 30px) / 2);
  }
  @include for-size(tablet-max) {
    text-align: center;
  }
  @include for-size(desktop) {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
  }
}

.footer-mail {
  width: 100%;
  @include for-size(desktop) {
    width: calc((100% - 30px) / 2);
  }
  @include for-size(tablet-max) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
  }
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
  text-decoration: none;
}
.part-logo-footer {
  color: $primary-white-color;
}

.footer-block .logo {
  margin-right: 0px;
}

.footer-social .social-icons {
  justify-content: start;

  @include for-size(tablet-max) {
    justify-content: center;
  }
}

.footer-social .social-icons-svg {
  fill: $primary-white-color;
}
.footer-list {
  @include for-size(tablet) {
    margin-right: 30px;
  }
}

.footer-title-join {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-form {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* align-items: center; */

  @include for-size(tablet) {
    flex-direction: column;
    align-items: center;
  }

  @include for-size(desktop) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  height: 50px;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);

  @include for-size(tablet) {
    max-width: 450px;
    margin-top: 0px;
  }

  @include for-size(desktop) {
    width: calc((100% * 2 / 3) + 12px);
    margin-right: 12px;
  }
}

.footer-icon-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .button.first {
  display: flex;
  /*   max-width: calc((100% / 3) + 60px); */
  max-width: 200px;
  border: 0px;

  /*   @include for-size(mobile-only) {
    margin-top: 20px;
  } */
  @include for-size(tablet-max) {
    margin-top: 20px;
  }
}

.footer-title-sign {
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primary-white-color;
}

.footer-svg {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  fill: $primary-white-color;
}
.address {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
}
.karta {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.address-kontaktu {
  color: rgba(255, 255, 255, 0.6);
}
