.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-box {
  text-align: center;

  /*   @include for-size(desktop) {
    width: 696px;
  } */
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  color: $primary-white-color;
  width: 360px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(desktop) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
