.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  @include for-size(mobile-only) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@include for-size(mobile-only) {
  .menu-item:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
}

.menu-item:not(:last-child) {
  margin-right: 8px;
}
